/** HEADER **/
.header-nav {
    background-color: grey;
    border-radius: 0;
    border: 3px solid black;
}

.navbar-brand h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size: 2em;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 0;
}

.navbar-brand {
    padding-top: 0px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
    margin-top: 0;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -40px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list a {
    text-align: center;
    color: black;
    font-family: 'Alfa Slab One';
    font-weight: 100;
    background-color: #AAA5A5;
}

#nav-list a:hover {
    background-color: #AEAE52;   
}

#menu-top{
    font-size: 6em;
    margin-top:0;
}

.text{
    margin: 10px;
    background-color: #AAA5A5;
    font-family: 'Alfa Slab One';   
    position: relative;
    padding: 5px;
}

.text-center {
    font-family: 'Sofia';
    font-size: 38px;
    font-weight: bold;
    position: relative;
    margin-top: 5px;
}


